# site properties and page defaults
title: Yoon Group
subtitle: 
description: Harnessing Artificial Intelligence (AI) and Computation for Energy and Sustainability Challenges
header: images/welcome2.jpg
footer: images/welcome2.jpg
proofer: false

# site social media and other links
links:
  email: bohakyoon@kaist.ac.kr
  orcid: 0000-0003-1769-6422
  google-scholar: https://scholar.google.com/citations?user=fFMlDWEAAAAJ&hl=en
  github: yoongroup
  twitter: BohakYoon
  linkedin: bohak-yoon
###  youtube: yoongroupDESCRIPTION=An engaging 1-3 sentence description of your lab.

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
