<figure class="figure">
  <a
    {% if include.link %}
      href="{{ include.link | relative_url }}"
    {% endif %}
    class="figure-image"
    aria-label="{{ include.caption | default: "figure link" }}"
  >
    <img
      src="{{ include.image | relative_url }}"
      style="
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        overflow: visible;
      "
      alt="{{ include.caption | default: "figure image" }}"
      {% include fallback.html %}
    >
  </a>
  {% if include.caption %}
    <figcaption class="figure-caption">
      {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}
    </figcaption>
  {% endif %}
</figure>
